<%- include('templates/header', {tituloPagina: 'Inicio' }) %>

    <section class="hero">
        <div id="page2" class="container_page_1">
            <div class="column active">
                <div class="content">
                    <h1>1</h1>
                    <div class="box">
                        <h2>background-attachment: scroll;</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore necessitatibus possimus
                            fuga voluptate incidunt enim eius sed, ad suscipit error quasi ex blanditiis ipsa, at vero
                            officiis voluptatem a modi!
                        </p>
                    </div>
                </div>
                <div class="bg bg1"></div>
            </div>
            <div class="column">
                <div class="content">
                    <h1>2</h1>
                    <div class="box">
                        <h2>background-attachment: fixed;</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore necessitatibus possimus
                            fuga voluptate incidunt enim eius sed, ad suscipit error quasi ex blanditiis ipsa, at vero
                            officiis voluptatem a modi!
                        </p>
                    </div>
                </div>
                <div class="bg bg2"></div>
            </div>
            <div class="column">
                <div class="content">
                    <h1>3</h1>
                    <div class="box">
                        <h2>What is lorem ipsum</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore necessitatibus possimus
                            fuga voluptate incidunt enim eius sed, ad suscipit error quasi ex blanditiis ipsa, at vero
                            officiis voluptatem a modi!
                        </p>
                    </div>
                </div>
                <div class="bg bg3"></div>
            </div>
            <div class="column">
                <div class="content">
                    <h1>4</h1>
                    <div class="box">
                        <h2>What is lorem ipsum</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore necessitatibus possimus
                            fuga voluptate incidunt enim eius sed, ad suscipit error quasi ex blanditiis ipsa, at vero
                            officiis voluptatem a modi!
                        </p>
                    </div>
                </div>
                <div class="bg bg4"></div>
            </div>
        </div>
    </section>

    <section class="generos">
        <div class="container">
            <div class="slide">
                <div class="item" style="
            background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          ">
                    <div class="content">
                        <div class="name">Scotland</div>
                        <div class="des">
                            Experience the mystical Highlands under twilight skies and misty lochs.
                        </div>
                        <a class="seeMore" target="_blank" href="https://github.com/MDJAmin"><button>See
                                More</button></a>
                    </div>
                </div>

                <div class="item" style="
            background-image: url('https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?q=80&w=1173&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          ">
                    <div class="content">
                        <div class="name">Norway</div>
                        <div class="des">
                            Chase the Northern Lights under star-lit skies along scenic fjord roads.
                        </div>
                        <a class="seeMore" target="_blank" href="https://github.com/MDJAmin"><button>See
                                More</button></a>
                    </div>
                </div>

                <div class="item" style="
            background-image: url('https://images.unsplash.com/photo-1483982258113-b72862e6cff6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          ">
                    <div class="content">
                        <div class="name">New Zealand</div>
                        <div class="des">
                            Wander dramatic, mist-laden mountain paths that feel straight out of a dream.
                        </div>
                        <a class="seeMore" target="_blank" href="https://github.com/MDJAmin"><button>See
                                More</button></a>
                    </div>
                </div>

                <div class="item" style="
            background-image: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          ">
                    <div class="content">
                        <div class="name">Japan</div>
                        <div class="des">
                            Discover serene mountain temples shrouded in dusk and ancient forest trails.
                        </div>
                        <a class="seeMore" target="_blank" href="https://github.com/MDJAmin"><button>See
                                More</button></a>
                    </div>
                </div>
            </div>
            <div class="button">
                <button class="prev">◁</button>
                <button class="next">▷</button>
            </div>
        </div>

    </section>

    <section class="novedades">
        <div class="container-fluid">
            <div class="heading mt-3 mb-3">
                <h2 class="text-center" id="carouselTitle">NOVEDADES</h2>
            </div>

            <div class="multi-carousel-container" id="multiCarousel">
                <div class="multi-carousel-inner" id="carouselInner">
                    <!-- Original items only -->
                    <div class="multi-carousel-item" data-index="0">
                        <div class="img-container"><span class="item-number">1</span>
                            <img src="https://images.piclumen.com/community/20250328/11/453409ca-ef19-4d4e-b5fc-c3511ca65ee8.webp"
                                alt="Image 1">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="1">
                        <div class="img-container"><span class="item-number">2</span>
                            <img src="https://images.piclumen.com/community/20250401/11/62637881-6bb6-48a8-883d-0fd9d76f4a08.webp"
                                alt="Image 2">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="2">
                        <div class="img-container"><span class="item-number">3</span>
                            <img src="https://images.piclumen.com/community/20250401/11/50e0e11a-37b8-4a70-8d50-e394a46b633c.webp"
                                alt="Image 3">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="3">
                        <div class="img-container"><span class="item-number">4</span>
                            <img src="https://images.piclumen.com/community/20250331/10/d54603ee-2f13-491f-bc14-1cd548afb389.webp"
                                alt="Image 4">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="4">
                        <div class="img-container"><span class="item-number">5</span>
                            <img src="https://images.piclumen.com/community/20250327/10/1d2cd467-5e74-4b24-b668-16980a6009ff.webp"
                                alt="Image 5">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="5">
                        <div class="img-container"><span class="item-number">6</span>
                            <img src="https://images.piclumen.com/community/20250326/14/a29c1ea3-d174-47b4-b7b4-9c9e5af80ea8.webp"
                                alt="Image 6">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="6">
                        <div class="img-container"><span class="item-number">7</span>
                            <img src="https://images.piclumen.com/community/20250326/11/2871590f-5896-4824-8f27-00ebb20e9bd3.webp"
                                alt="Image 7">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="7">
                        <div class="img-container"><span class="item-number">8</span>
                            <img src="https://images.piclumen.com/community/20250326/11/a8638ee6-5768-4b9f-87c1-bdebdc78b597.webp"
                                alt="Image 8">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="8">
                        <div class="img-container"><span class="item-number">9</span>
                            <img src="https://images.piclumen.com/community/20250325/13/a70ce527-4c30-45f2-8fcd-8c80f3b86a7c.webp"
                                alt="Image 9">
                        </div>
                    </div>
                </div>

                <button class="multi-carousel-control-prev" id="prevBtn">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="multi-carousel-control-next" id="nextBtn">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </section>

    <section class="populares">

        <div class="container-fluid">
            <div class="heading mt-3 mb-3">
                <h2 class="text-center" id="carouselTitle">POPULARES</h2>
            </div>

            <div class="multi-carousel-container" id="multiCarousel">
                <div class="multi-carousel-inner" id="carouselInner">
                    <!-- Original items only -->
                    <div class="multi-carousel-item" data-index="0">
                        <div class="img-container"><span class="item-number">1</span>
                            <img src="https://images.piclumen.com/community/20250328/11/453409ca-ef19-4d4e-b5fc-c3511ca65ee8.webp"
                                alt="Image 1">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="1">
                        <div class="img-container"><span class="item-number">2</span>
                            <img src="https://images.piclumen.com/community/20250401/11/62637881-6bb6-48a8-883d-0fd9d76f4a08.webp"
                                alt="Image 2">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="2">
                        <div class="img-container"><span class="item-number">3</span>
                            <img src="https://images.piclumen.com/community/20250401/11/50e0e11a-37b8-4a70-8d50-e394a46b633c.webp"
                                alt="Image 3">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="3">
                        <div class="img-container"><span class="item-number">4</span>
                            <img src="https://images.piclumen.com/community/20250331/10/d54603ee-2f13-491f-bc14-1cd548afb389.webp"
                                alt="Image 4">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="4">
                        <div class="img-container"><span class="item-number">5</span>
                            <img src="https://images.piclumen.com/community/20250327/10/1d2cd467-5e74-4b24-b668-16980a6009ff.webp"
                                alt="Image 5">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="5">
                        <div class="img-container"><span class="item-number">6</span>
                            <img src="https://images.piclumen.com/community/20250326/14/a29c1ea3-d174-47b4-b7b4-9c9e5af80ea8.webp"
                                alt="Image 6">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="6">
                        <div class="img-container"><span class="item-number">7</span>
                            <img src="https://images.piclumen.com/community/20250326/11/2871590f-5896-4824-8f27-00ebb20e9bd3.webp"
                                alt="Image 7">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="7">
                        <div class="img-container"><span class="item-number">8</span>
                            <img src="https://images.piclumen.com/community/20250326/11/a8638ee6-5768-4b9f-87c1-bdebdc78b597.webp"
                                alt="Image 8">
                        </div>
                    </div>
                    <div class="multi-carousel-item" data-index="8">
                        <div class="img-container"><span class="item-number">9</span>
                            <img src="https://images.piclumen.com/community/20250325/13/a70ce527-4c30-45f2-8fcd-8c80f3b86a7c.webp"
                                alt="Image 9">
                        </div>
                    </div>
                </div>

                <button class="multi-carousel-control-prev" id="prevBtn">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="multi-carousel-control-next" id="nextBtn">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>

    </section>

    <section class="informacion">

        <div class="scope product-cards | -fluid-text">
            <div class="_card-list | grid" style="
        --grid--fill-mode: var(--product-cards--fill-mode, auto-fit);
        --grid--row-gap: var(--product-cards--gap, 1.5rem);
        --grid--column-gap: var(--product-cards--gap, 1.5rem);
        --grid--column-max-count: var(--product-cards--column-max-count, 4);
        --grid--column-min-width: var(--product-cards--column-min-width, 20rem);">

                <section class="_card">
                    <h2 class="_heading | -fluid-text -trim-both" style="--fluid-text--min-font-size: 16;
        --fluid-text--max-font-size: 24;">Product 01</h2>
                    <div class="_thumbnail-stack">
                        <img src="https://picsum.photos/id/100/1200/630" alt="" width="400" height="210"
                            fetchpriority="high" />
                        <img src="https://picsum.photos/id/100/1200/630" alt="" width="400" height="210"
                            fetchpriority="high" />
                    </div>
                    <p class="_category | -trim-both">Category A</p>
                    <p class="_price | -trim-both">&yen;2,000</p>
                    <p class="_description | -line-clamp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="_tag-list | cluster" style="
        --cluster--gap: 0.5rem;">
                        <li class="_tag | -trim-both">Tag A</li>
                        <li class="_tag | -trim-both">Tag B</li>
                    </ul>
                    <div class="_button"
                        style="--purchase-button--background: var(--_accent); --purchase-button--foreground: var(--_accent-contrast);">
                        <a href="#" class="scope purchase-button">Add To Cart</a>
                    </div>
                </section>

                <section class="_card" style="--product-card--accent: #4e8397;">
                    <h2 class="_heading | -fluid-text -trim-both" style="--fluid-text--min-font-size: 16;
        --fluid-text--max-font-size: 24;">Product 02</h2>
                    <div class="_thumbnail-stack">
                        <img src="https://picsum.photos/id/101/1200/630" alt="" width="400" height="210"
                            fetchpriority="high" />
                        <img src="https://picsum.photos/id/101/1200/630" alt="" width="400" height="210"
                            fetchpriority="high" />
                    </div>
                    <p class="_category | -trim-both">Category B</p>
                    <p class="_price | -trim-both">&yen;2,000</p>
                    <p class="_description | -line-clamp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="_tag-list | cluster" style="
        --cluster--gap: 0.5rem;">
                        <li class="_tag | -trim-both">Tag A</li>
                        <li class="_tag | -trim-both">Tag B</li>
                    </ul>
                    <div class="_button"
                        style="--purchase-button--background: var(--_accent); --purchase-button--foreground: var(--_accent-contrast);">
                        <a href="#" class="scope purchase-button">Add To Cart</a>
                    </div>
                </section>

                <section class="_card" style="--product-card--accent: #ff8066;">
                    <h2 class="_heading | -fluid-text -trim-both" style="--fluid-text--min-font-size: 16;
        --fluid-text--max-font-size: 24;">Product 03</h2>
                    <div class="_thumbnail-stack">
                        <img src="https://picsum.photos/id/102/1200/630" alt="" width="400" height="210"
                            fetchpriority="high" />
                        <img src="https://picsum.photos/id/102/1200/630" alt="" width="400" height="210"
                            fetchpriority="high" />
                    </div>
                    <p class="_category | -trim-both">Category C</p>
                    <p class="_price | -trim-both">&yen;2,000</p>
                    <p class="_description | -line-clamp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="_tag-list | cluster" style="
        --cluster--gap: 0.5rem;">
                        <li class="_tag | -trim-both">Tag A</li>
                        <li class="_tag | -trim-both">Tag B</li>
                        <li class="_tag | -trim-both">Tag C</li>
                    </ul>
                    <div class="_button"
                        style="--purchase-button--background: var(--_accent); --purchase-button--foreground: var(--_accent-contrast);">
                        <a href="#" class="scope purchase-button">Add To Cart</a>
                    </div>
                </section>


            </div>

            <!-- `display: none` can cause SVG filters to be ineffective in Firefox. -->
            <svg width="0" height="0" style="visibility: hidden; position: fixed;">
                <filter id="svg-inset-shadow">
                    <feOffset in="SourceAlpha" dx="6" dy="8" />
                    <feGaussianBlur in="SourceAlpha" stdDeviation="8" />
                    <feComposite in="SourceAlpha" operator="out" />
                    <feBlend in2="SourceGraphic" mode="multiply" />
                </filter>
            </svg>
        </div>

    </section>


    <%- include('templates/footer') %>