    <footer class="site-footer">
        <div class="site-footer__inner">

            <nav class="site-footer__links">
                <a href="/inicio">Inicio</a>
                <a href="/catalogo">Catálogo</a>
                <a href="/favoritos">Favoritos</a>
                <a href="/prestamos">Mis préstamos</a>
                <a href="/inicio-sesion">Iniciar sesión</a>
            </nav>

            <div class="site-footer__social">
                <a href="#" class="site-footer__social-link" aria-label="Facebook"><img src="/images/icons/facebook.svg" alt=""></a>
                <a href="#" class="site-footer__social-link" aria-label="Instagram"><img src="/images/icons/instagram.svg" alt=""></a>
                <a href="#" class="site-footer__social-link" aria-label="X"><img src="/images/icons/twitter-x.svg" alt=""></a>
                <a href="#" class="site-footer__social-link" aria-label="TikTok"><img src="/images/icons/tiktok.svg" alt=""></a>
                <a href="#" class="site-footer__social-link" aria-label="YouTube"><img src="/images/icons/youtube.svg" alt=""></a>
            </div>

            <p class="site-footer__copy">
                © <span id="anioActual">2026</span> Biblioteca. Todos los derechos reservados.
            </p>

        </div>
    </footer>

    <script src="/js/navbar.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
